* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  font-family: "Baloo Bhai 2", cursive;
}
#home {
  display: flex;
}
.home_left {
  margin-top: 0%;
  /* margin-left: 23%; */
  position: absolute;
  text-align: center;
  /* align-items: center;
  justify-content: center; */
  background-color: transparent;
  border-radius: 23px;
}
.home_left h1 {
  
  text-align: center;
  padding: 40px 40px 0px 40px;
  font-size: 50px;
  font-family: "Baloo Bhai 2", cursive;
  color: rgb(218, 67, 67);
}
.home_left h3 {
  
  text-align: center;
  padding: 40px 40px 0px 40px;
  font-size: 30px;
  font-family: "Baloo Bhai 2", cursive;
  color: rgb(218, 67, 67);
}
.home_left p {
  padding: 0px 40px 10px 40px;
  font-size: 20px;
  font-family: "Baloo Bhai 2", cursive;
  color: black;
}
.home_left .join {
  justify-content: center;
  align-items: center;
}
.home_left .join .join_btn {
  align-items: center;
  margin-left: 0px;
  justify-content: center;
  background-color: transparent;
  border-radius: 23px;
  padding: 10px 50px;
  border-color: rgb(218, 67, 67);
}
.home_left .join .join_btn:hover{
  background: linear-gradient(to right, #ff105f, #ffad06);
}
.home_image {
  size: 400px;
  position: absolute;
  top: 110px;
  left: 350px;
  right: 0px;
  bottom: 50px;
  z-index: -1;
  opacity: 0.7;
}
#home {
  display: flex;
  width: 100%;
  height: 100%;
}
.navbar {
  display: flex;
  margin-left: 0;
  background-color: white;
  cursor: pointer;
  position: sticky;
  justify-items: flex-end;
  align-items: center;
  top: 0;
  z-index: 1;
}
#logo {
  margin-left: 20px;
}
#logo img {
  height: 105px;
  margin-left: 0;
}
.navbar ul {
  list-style-type: none;
  margin-left: 250px;
  display: flex;
  font-family: "Baloo Bhai 2", cursive;
}
.navbar ul li {
  display: flex;

  list-style: none;
  font-size: 1.3rem;
}
.navbar ul li a {
  color: rgba(47, 0, 255, 0.863);
  display: block;
  padding: 3px 23px;
  border-radius: 20px;
  text-decoration: none;
}
/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  display: inline-block;
  color: rgba(47, 0, 255, 0.863);
  font-family: "Baloo Bhai 2", cursive;
  padding: 3px 23px;
  cursor: pointer;
  font-size: 1.3rem;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
  background-color: transparent;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 35px;
  background-color: transparent;
  min-width: 160px;
  z-index: 1;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  background-color: rgb(211, 154, 154);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background: linear-gradient(to right, #ff105f, #ffad06);
  color: white;
  font-weight: bold;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background: linear-gradient(to right, #ff105f, #ffad06);
  font-weight: bold;
  color: white;
  border-radius: 20px;
}

.navbar ul li a:hover {
  background: linear-gradient(to right, #ff105f, #ffad06);
  font-weight: bold;
  color: white;
}
.why{
  height: 250px;
  width: 80%;
  background-color: white;
  margin-top: 500px;
  display: flex;
  margin-left: 150px;
}
.why .why_img{
width: 400px;
}
.why p{
  margin-top: 50px;
  height: 300px;
}
.icons {
  margin: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sponsers a {
  height: 100px;
  width: 100px;
  border-radius: 40px;
  background-color: #f5f6fa;
  text-align: center;
  margin: 10px;
  line-height: 100px;
  box-shadow: 1px 4px 2px 2px #dcdde1;}
  .sponsers a i{
    transition: all 0.3s linear;
  }
  .sponsers a:hover i{
    transform: scale(1.4);
  }
  .fa-facebook {
    background: #3b5998;
    color: white;
  }
  .fa-instagram {
    color: #e84393;
  }
  .fa-linkedin {
    color: #0097e6;
  } 
  #services {
    margin: 34px;
    display: flex;
    justify-content: center;
  }
  #services .box {
    border: 2px solid brown;
    padding: 17px;
    margin: 3px 6px;
    border-radius: 23px;
  }
  #services .box img {
    height: 160px;
    margin: auto;
    display: block;
  }
  #services .box p {
    font-family: "Bree Serif", serif;
  }